body {
  background-color: transparent;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.playerlist {
  display: none;
  background: #1c1919c4;
  color: #d6d6d6;
  border-radius: 5px;
  position: fixed;
  right: 3%;
  top: 3%;
  width: 50%;
  min-height: 450px;
  opacity: 0.875;
}

.colhead {
  font-size: 16px;
  letter-spacing: .1rem;
  border-radius: 5px 5px 0px 0px;
  padding: 9px;
  background-color: #083D84;
  text-align: center;
}

.header {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.rbordered {
  border: 1px solid #395058b9;
}

.hlight {
  background-color: #1f1f1f;
}

.players {
  font-size: 13px;
  font-weight: 500;
}

.support {
  display: none;
}
